
@import url('https://fonts.cdnfonts.com/css/museo-sans');

@import "slick-carousel/slick/slick.css";
@import "slick-carousel/slick/slick-theme.css";

@tailwind base;
@tailwind components;
@tailwind utilities;


* {
  max-width: 100%;
  box-sizing: border-box;
}
body {
  font-family: 'Museo Sans', sans-serif;
}

/* html, body {
  scroll-behavior: smooth;
  overflow-x: hidden; 
} */




:root {
  --background: #ffffff;
  --foreground: #171717;
}

/* @media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
} */


.border1{
  border: 1px solid red;
}