.hero {
    display: flex;
  
    padding: 120px 0px 0px 15px;
    border-radius: 12px;
}

 .image{
    width: 100%;
    height: 800px;
    background-image: url('../../../public/slide01.jpg');
    background-position: cover;
    background-size: cover;
    background-repeat: no-repeat;
 }
 .card {
    position: relative;
  
    background-color: #fff; /* Background color for the card */
    overflow: hidden; /* Hide the background on the edges */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    transition: box-shadow 0.3s ease, transform 0.3s ease;
  }
  
  .card::after {
    content: "";
    width: 100%;
    height: 100%;
    position: absolute;
    left: 0;
    top: 0;
    transition: all 0.25s ease-in-out;
    opacity: 0; /* Initially invisible */
    z-index: -1;
    box-shadow: 0 30px 30px rgba(238, 238, 238, 0.7); /* Box shadow on hover */
  }
  
  /* Hover effect */
  .card:hover::after {
    opacity: 1; /* Make the background visible */
    z-index: 1; /* Put the background behind the card content */
  }
  
  .card:hover {
    transform: translateY(-5px); /* Slight lift effect */
    box-shadow: 0 10px 30px rgba(0, 0, 0, 0.2); /* Deeper shadow when hovered */
  }
  .video{
    width: 100%;
    display: block;
    margin: 0;
    opacity: 0.5;
    filter: grayscale(1);
  }